<!Doctype HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Academicool</title>
    <link href="/static/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <h2>By using the application you agree to our <a href="/static/documents/terms-of-service.html">Terms Of Service</a>, <a href="/static/documents/community-guidelines.html">Community Guidelines</a>, and <a href="/static/documents/privacy-policy.html">Privacy Policy</a></h2>
    <script authed="window.location.href='/course';" src="/static/auth/script.js"></script>
    <button onclick="window.location.href='/course';">Use without logging in</button>
  </body>
</html>